.nav-link {
    padding: 0 !important;
    
}

.nav-link:hover {
    outline: 1px solid rgb(212, 193, 193);
}

.single-data-row {
    .company-property {
        color: black;
    }
}

.full-data-row {
    margin-bottom: .7em;
    
    .company-property {
        color: black;
    }
}