.nav-link {
  padding: 0 !important; }

.nav-link:hover {
  outline: 1px solid #d4c1c1; }

.single-data-row .company-property {
  color: black; }

.full-data-row {
  margin-bottom: .7em; }
  .full-data-row .company-property {
    color: black; }
