.main-container {
    height: 100vh;

    .input-search-wrapper {
        margin-top: 1em;
    }

    .companies-wrapper {
        margin-top: 2em;
        margin-bottom: 2em;
        overflow-y: auto;
    }
}