.main-container {
  height: 100vh; }
  .main-container .input-search-wrapper {
    margin-top: 1em; }
  .main-container .companies-wrapper {
    margin-top: 2em;
    margin-bottom: 2em;
    overflow-y: auto; }
