.root-notFound {
  margin-bottom: 60px;
  min-height: 600px;
  display: flex;
  justify-content: center;
}

.not-found-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.not-found-title {
  margin-bottom: 20px;
}

.not-found-container i {
  margin-top: 10px;
  color: black;
}

.not-found-title small {
  color: black;
}
