@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh !important;
}

.gif-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.social-share-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.home-title-container {
  margin-bottom: 40px;

  h1 {
    font-size: 70px;
    font-family: Gloria Hallelujah, cursive;
    animation: palpito  infinite;
    animation-duration: 15s;
    animation-delay: 3s;
  }

  span {
    margin-left: 10px !important;
  }
}

.fail-search-text-container {
  margin-bottom: 100px !important;
}

.spinner-container {
  margin-bottom: 100px;
}

.search-container {
  padding-right: 0 !important;
}

.slider-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  min-height: 50px !important;
  border: 2px solid white;
  border-left: 0px;
}

.slider-icon {
  color: white;
  font-size: 20px;
}

.root-home {
  padding: 0px !important;
}

@keyframes palpito {
  0%   { color: red; }
  10%  { color: green; }
  20%  { color: yellow; }
  30%  { color: blue; }
  40%  { color: #535244; }
  50%  { color: orange; }
  60%  { color: #7d1e9e; }
  70%  { color: #c9411c; }
  80%  { color: #46f910; }
  90%  { color: white; }
  100% { color: red; }
}
